[Unit]
Description=matrix-puppet-signal
After=matrix-synapse.service

[Service]
Type=simple
WorkingDirectory=/path/to/matrix-puppet-signal
ExecStart=/path/to/matrix-puppet-signal/start.sh

Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=matrix-puppet-signal

EnvironmentFile=-/etc/default/matrix-puppet-signal
PermissionsStartOnly=true
LimitNOFILE=4096
IgnoreSIGPIPE=false
User=matrix-synapse

[Install]
WantedBy=multi-user.target
